@charset "utf-8";

body{
	background-color: #dfebfb;
}

#modalProfissional div[class="form-row"]{
	margin-left: 10px;
	margin-right: 10px;
}

#modalProfissional p{
	margin-left: 10px;
}

input[placeholder="UF"]{
	text-transform:uppercase;
}

#logo{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#icon{
	width: 32px;
    position: relative;
    bottom: 5px;
}

.modal{
	overflow: scroll;
}

#modalLogin label,
#modalPaciente label,
#modalProfissional label,
#modalConfirmacao label,
#esqueci label{
	font-size: 14px;
    color: crimson;
}